.container-app{
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .app{
    width: 100%;
    max-width: 1200px;
    padding: 10px;
  }
}

